header {
  width: 100%;
  height: auto;
  background: var(--body-bg-color);
  border-bottom: 1px solid #3b3b3b;
  position: fixed;
  top: 0;
  left: 0;

  .nav-center {
    width: 90%;
    margin: auto;

    nav {
      height: 15vh;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .toggle-icon {
        .fas {
          font-size: 2rem;
          color: #fff;
          cursor: pointer;
          transition: 0.3s linear;

          &:hover {
            transform: scale(0.8) rotate(-45deg);
          }
        }
        .toggle-btn.times {
          display: none;
        }
      }
    }

    .links-container {
    }
  }
}
