<header>
    <div class="nav-center">
        <nav>
            <a href="#">
                <img [src]="logoImageUrl" alt="logo" width="50" height="auto" class="logo" />
            </a>
            <div class="toggle-icon">
                <span class="toggle-btn bars"><i class="fas fa-bars"></i></span>
                <span class="toggle-btn times"><i class="fas fa-times"></i></span>
            </div>
        </nav>
        <div class="links-container">
            <ul class="nav-links">
                <li>
                    <a href="#"><i class="fas fa-home"></i></a>
                </li>
                <li><a href="#">About</a></li>
                <li><a href="#">My Skills</a></li>
                <li><a href="#">Work</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Blog</a></li>
                <!-- Social media -->
                <div class="social-icons">
                    <a href="#"><i class="fas fa-facebook"></i></a>
                    <a href="#"><i class="fas fa-twitter"></i></a>
                    <a href="#"><i class="fas fa-instagram"></i></a>
                </div>
            </ul>
            <a href="#" class="resume">Résume</a>
        </div>
    </div>
</header>